*{
    box-sizing: border-box;
}
#txtPassWord{
    margin-bottom: 10px;
    min-width: 60% !important;
    border-radius: 10px;
    margin-right: 50px !important;
    padding: 10px;
    
    
}
body{
    background-image: url(../images/bac2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center !important;
    
}
.form{
    display: flex;
    justify-content: center !important;
}
.container{
    background-color: white;
    min-height: 300px;
    width: 60%;
    margin: 30px;
    padding: 20px;
    justify-content: center;

}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}
#showPassWord{
    background-image: linear-gradient( pink, white);
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}