*{
    box-sizing: border-box;
}
input{
    margin-bottom: 10px;
    width: 40%;
    
}
body{
    width: 960px;
    background-image: url(../images/bac2.webp);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    
}
.container{
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    min-height: 300px;
    width: 90%;
    margin-left: 20px;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}
#showPassWord{
    background-image: linear-gradient( pink, white);
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}